.mainWrap {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "h h"
  "n m";
  grid-template-rows: auto auto;
  grid-template-columns: 150px auto;
  color: aliceblue;
}
