.mainWrap {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "h h"
  "n m";
  grid-template-rows: auto auto;
  grid-template-columns: 150px auto;
  color: aliceblue;
}

.header {
  display: flex;
  grid-area: h;
  background-color: rgb(46, 15, 15);
}



.header p {
  margin: 0;
}

.logo {
  width: 60px;
  margin: 2px 10px 2px 5px;
}

.nav {
  grid-area: n;
  background-color: rgb(44, 31, 31);
}

.nav ul {
  margin: 10px;
  padding: 0;
  list-style-type: none;
}

.nav ul li {
  margin-bottom: 10px;
}

.main {
  grid-area: m;
  height: 200px;
  width: 100%;
  background-color: #302d2d;
}