.header {
  display: flex;
  grid-area: h;
  background-color: rgb(46, 15, 15);
  justify-content: space-between;
  align-items: center;
}

.logoWrap {
  display: flex;
  justify-content: flex-start

}

.header .siteName {
  padding-top: 10px;
  margin: 0;
}

.header .logo {
  width: 60px;
  margin: 2px 10px 2px 5px;
}

.loginBlock {
  
}

.loginBlock a {
  text-decoration: none;
  color: rgb(240, 240, 240)
}