.dialogsPage {

}

.dialogsPage .searchMenu {

}

.dialogsPage .dialogsList {

}

.dialogsPage .dialogsList ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.dialogsPage .dialogsList ul .dialogsItem {
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.dialogsPage .dialogsList ul .dialogsItem a {
  text-decoration: none;
  color: #fff;
}

.dialogsPage .dialogsList ul .dialogsItem .activeLink {
  color: #b9b8b8;
}