.dialogsPage {}

.dialogsPage .searchMenu {}

.dialogsPage .dialogsWindow {
  display: flex;
}

.dialogsPage .dialogsWindow .dialogsList {
  box-sizing: border-box;
  width: 20%;
  margin-right: 10px;
  border-right: 1px #bbb solid;
}

.dialogsPage .dialogsWindow .dialogsList ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.dialogsPage .dialogsWindow .messages {
  width: 80%;
}

.dialogsPage .dialogsWindow .messages ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}