.nav {
  grid-area: n;
  background-color: rgb(44, 31, 31);
}

.nav ul {
  padding: 0;
}

.nav .item {
  margin: 10px;
  list-style-type: none;
  margin-bottom: 10px;
}

.nav .item a {
  color: #fff;
  text-decoration: none;
}

.nav .item a.activeLink {
  color: #b9b8b8;
}
